<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
  <appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %t (%c{2}:%L) - %m%n"/>
    </layout>
  </appender>
  <appender name="RollingFileAppender" class="org.apache.log4j.RollingFileAppender">
    <param name="File" value="rolling.log"/>
    <param name="Append" value="true"/>
    <param name="MaxFileSize" value="5000KB"/>
    <param name="maxBackupIndex" value="5"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %t (%c{2}:%L) - %m%n"/>
    </layout>
  </appender>
  <appender name="DailyFileAppender" class="org.apache.log4j.DailyRollingFileAppender">
    <param name="File" value="daily.log"/>
    <param name="Threshold" value="WARN"/>
    <param name="Append" value="true"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %t (%c{2}:%L) - %m%n"/>
    </layout>
  </appender>
  <logger name="org.test">
    <level value="INFO"/>
  </logger>
  <logger name="com.test">
    <level value="DEBUG"/>
  </logger>
  <!-- level INFO needed to log SOAP messages -->
  <logger name="org.apache.cxf.services">
    <level value="INFO"/>
  </logger>
  <!-- level INO needed to log velocity messages -->
  <logger name="org.apache.velocity">
    <level value="INFO"/>
  </logger>
  <root>
    <priority value="DEBUG"/>
    <appender-ref ref="ConsoleAppender"/>
  </root>
</log4j:configuration>
